In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Gambier,AU,2022-05-01 22:21:40,-37.8333,140.7667,57.11,100,100,10.36
1,1,Butaritari,KI,2022-05-01 22:23:34,3.0707,172.7902,81.43,79,84,13.65
2,2,San Cristobal,VE,2022-05-01 22:23:35,7.7669,-72.2250,80.78,73,62,5.17
3,3,Umm Kaddadah,SD,2022-05-01 22:23:35,13.6017,26.6876,83.39,11,5,7.11
4,4,Hualmay,PE,2022-05-01 22:23:36,-11.0964,-77.6139,68.18,80,54,8.68

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2022-05-01 22:23:34,3.0707,172.7902,81.43,79,84,13.65
2,2,San Cristobal,VE,2022-05-01 22:23:35,7.7669,-72.2250,80.78,73,62,5.17
3,3,Umm Kaddadah,SD,2022-05-01 22:23:35,13.6017,26.6876,83.39,11,5,7.11
5,5,Makakilo City,US,2022-05-01 22:23:36,21.3469,-158.0858,82.72,57,75,23.02
7,7,Rikitea,PF,2022-05-01 22:23:38,-23.1203,-134.9692,76.42,71,13,6.17
11,11,Cabo San Lucas,MX,2022-05-01 22:21:25,22.8909,-109.9124,87.62,36,20,6.91
12,12,Kahului,US,2022-05-01 22:23:40,20.8947,-156.4700,80.62,72,40,23.02
14,14,Puerto Narino,CO,2022-05-01 22:23:41,-3.7703,-70.3831,77.61,95,88,1.03
15,15,Garissa,KE,2022-05-01 22:23:41,-0.4536,39.6401,79.18,75,100,18.50
19,19,Cayenne,GF,2022-05-01 22:20:46,4.9333,-52.3333,81.09,1,75,4.00

In [17]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1       Butaritari      KI     81.43   3.0707  172.7902
2    San Cristobal      VE     80.78   7.7669  -72.2250
3     Umm Kaddadah      SD     83.39  13.6017   26.6876
5    Makakilo City      US     82.72  21.3469 -158.0858
7          Rikitea      PF     76.42 -23.1203 -134.9692
11  Cabo San Lucas      MX     87.62  22.8909 -109.9124
12         Kahului      US     80.62  20.8947 -156.4700
14   Puerto Narino      CO     77.61  -3.7703  -70.3831
15         Garissa      KE     79.18  -0.4536   39.6401
19         Cayenne      GF     81.09   4.9333  -52.3333

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,81.43,3.0707,172.7902,Isles Sunset Lodge
2,San Cristobal,VE,80.78,7.7669,-72.2250,Pirineos
3,Umm Kaddadah,SD,83.39,13.6017,26.6876,
5,Makakilo City,US,82.72,21.3469,-158.0858,Marriott's Ko Olina Beach Club
7,Rikitea,PF,76.42,-23.1203,-134.9692,People ThankYou
11,Cabo San Lucas,MX,87.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
12,Kahului,US,80.62,20.8947,-156.4700,Maui Seaside Hotel
14,Puerto Narino,CO,77.61,-3.7703,-70.3831,Eware Refugio Amazonico
15,Garissa,KE,79.18,-0.4536,39.6401,Sharif Plaza Hotel
19,Cayenne,GF,81.09,4.9333,-52.3333,Hôtel Le Dronmi

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))